<!DOCTYPE html>
<html lang="en">
  <!--
  **NOTE:** This is a template for index.html. It uses ejs and htmlWebpackPlugin to generate a different index.html for each environment. htmlWebpackPlugin will dynamically add references to the scripts and styles that it bundles to this file. The generated bundles have hash-based filenames, so it's necessary to add the references dynamically.
  For more info on ejs, see http://www.embeddedjs.com/. For examples of using it with htmlWebpackPlugin, see https://github.com/jaketrent/html-webpack-template/blob/master/index.ejs
  -->

  <head>
    <% var defaults = require("@src/constants/defaults") %>
    <% if (defaults && defaults.GA && ["chipassist", "supplier_response"].includes(defaults.id)) { %>
      <% if (defaults.id === "chipassist") { %>
        <!-- Google tag (gtag.js) -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-Z44R0VYWLB"></script>
        <script>
          window.dataLayer = window.dataLayer || [];
          function gtag() {
            dataLayer.push(arguments);
          }
          gtag('js', new Date());
          gtag('config', 'G-Z44R0VYWLB');
        </script>
        <!-- End Google tag (gtag.js) -->
      <% } if (defaults.id === "supplier_response") { %>
        <!-- Google tag (gtag.js) -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-RDPK3Y7KDV"></script>
        <script>
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag("js", new Date());
          gtag("config", "G-RDPK3Y7KDV");
        </script>
        <!-- End Google tag (gtag.js) -->
      <% } %>
        <!-- Google Tag Manager -->
        <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
                    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
                  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
                  'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
          })(window,document,'script','dataLayer','GTM-KFM5999');</script>
        <!-- End Google Tag Manager -->
    <% } %>

    <title><%= htmlWebpackPlugin.options.title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta charset="utf-8" />

      <meta property="og:type" content="website" />
      <meta property="og:title" content="Search electronic parts, components prices|Datasheets & inventory-ChipAssist" />
      <meta property="og:description" content="Global marketplace for sourcing electronic components. To compare prices and monitor inventory, shop across 180 distributors, manufacturers and 20 000 000 parts." />
      <meta property="og:image" content="/no-article-image.png" />

      <meta name="twitter:card" content="summary" />
      <meta name="twitter:site" content="@chipassist"/>
      <meta name="twitter:title" value="Search electronic parts, components prices|Datasheets & inventory-ChipAssist" />
      <meta name="twitter:description" value="Global marketplace for sourcing electronic components. To compare prices and monitor inventory, shop across 180 distributors, manufacturers and 20 000 000 parts." />
      <meta name="twitter:image" content="/no-article-image.png" />

    <% if (defaults && defaults.id === "chipassist") { %>
<!--    <script>-->
<!--      window.intercomSettings = {-->
<!--        app_id: "y6r1xk6l",-->
<!--      };-->
<!--    </script>-->
<!--    <script>-->
<!--      // We pre-filled your app ID in the widget URL: ‘https://widget.intercom.io/widget/y6r1xk6l’-->
<!--      (function () {-->
<!--        var w = window;-->
<!--        var ic = w.Intercom;-->
<!--        if (typeof ic === "function") {-->
<!--          ic("reattach_activator");-->
<!--          ic("update", w.intercomSettings);-->
<!--        } else {-->
<!--          var d = document;-->
<!--          var i = function () {-->
<!--            i.c(arguments);-->
<!--          };-->
<!--          i.q = [];-->
<!--          i.c = function (args) {-->
<!--            i.q.push(args);-->
<!--          };-->
<!--          w.Intercom = i;-->
<!--          var l = function () {-->
<!--            var s = d.createElement("script");-->
<!--            s.type = "text/javascript";-->
<!--            s.async = true;-->
<!--            s.src = "https://widget.intercom.io/widget/y6r1xk6l";-->
<!--            var x = d.getElementsByTagName("script")[0];-->
<!--            x.parentNode.insertBefore(s, x);-->
<!--          };-->
<!--          if (w.attachEvent) {-->
<!--            w.attachEvent("onload", l);-->
<!--          } else {-->
<!--            w.addEventListener("load", l, false);-->
<!--          }-->
<!--        }-->
<!--      })();-->
<!--    </script>-->
    <% } %>
    <% if (defaults && defaults.jivoChat) { %>
    <script src="//code-eu1.jivosite.com/widget/35TThUDBbN" async></script>
    <% } %>
    <% if (defaults && defaults.YM) { %>
    <!-- Yandex.Metrika counter -->
    <script type="text/javascript">
      (function (m, e, t, r, i, k, a) {
        m[i] =
          m[i] ||
          function () {
            (m[i].a = m[i].a || []).push(arguments);
          };
        m[i].l = 1 * new Date();
        (k = e.createElement(t)),
          (a = e.getElementsByTagName(t)[0]),
          (k.async = 1),
          (k.src = r),
          a.parentNode.insertBefore(k, a);
      })(window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

      ym(84736483, "init", {
        clickmap: true,
        trackLinks: true,
        accurateTrackBounce: true,
        webvisor: true,
      });
    </script>
    <noscript
      ><div><img src="https://mc.yandex.ru/watch/84736483" style="position: absolute; left: -9999px" alt="" /></div
    ></noscript>
    <!-- /Yandex.Metrika counter -->
    <% } %>
  </head>

  <body>
  <% if (defaults && defaults.GA && ["chipassist", "supplier_response"].includes(defaults.id)) { %>
  <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KFM5999"
                    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->
  <% } %>

  <!-- Creating a hidden scrollbar to determine its width -->
  <div id="scrollbar-measure" style="width: 100px; height: 100px; overflow: scroll; position: absolute; top: -9999px;">
    <div id="scrollbar-measure-content" style="height: 200px"></div>
  </div>
  <!-- End creating a hidden scrollbar -->

  <div id="app" style="height: 100%;"></div>
  </body>
</html>
